c-car-tile{
    min-width: 200px;
    flex:1;
    transition: all .2s ease-in-out; 
}

c-car-tile:hover { 
    	transform: scale(1.021); 
    }

.content{
    display:flex;
    flex-wrap:wrap;
}

.wrapper{
    background: #e3e5e4;
}